.clickable {
	cursor: pointer;
}

.adjusted {
	padding-top: 5px;
}

/*.page {*/
	/*position: relative;*/
	/*margin-top: 50px;*/
/*}*/

html, body {
	height: 100%; /* Fixes the height to 100% of the viewport */
}

body {
	padding-top: 87px; /* 50px for the height of the navbar + 37px for the offset */
	padding-bottom: 50px; /* 50px for the height of the bottom navbar */
}

.navbar-offset {
	top: 37px; /* Offsets the top navbar 37px from the top of the viewport */
}